body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

/* 适用于所有具有 readonly 属性的输入框 */
input[readonly] {
    background-color: #f0f0f0; /* 背景颜色 */
    color: #666; /* 字体颜色 */
    border: 1px solid #ccc; /* 边框样式 */
    cursor: not-allowed; /* 鼠标样式 */
    padding: 10px; /* 内边距 */
    border-radius: 4px; /* 边框圆角 */
    width: 100%; /* 宽度 */
}

button {
    background-color: #8a5cf5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

button:hover {
    background-color: #7a4ce5;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.additional-links {
    text-align: center;
    margin-top: 20px;
}

.link-button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #8a5cf5; /* 更深的紫色 */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.link-button:hover {
    background-color: #7a4ce5; /* 悬停时稍微变暗 */
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


/* 响应式设计 */
@media (max-width: 600px) {
    form {
        margin: 20px;
        padding: 15px;
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    select,
    button {
        font-size: 14px;
    }
}

.profile-container{
    min-width: 320px;
    max-width: 1200px;
    width: 80%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
}
.error-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
}

/* tab样式 */
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s;
    font-weight: bold;
}

.tab.active {
    border-bottom: 2px solid #8a5cf5; /* 使用之前的紫色 */
    color: #8a5cf5; /* 使用之前的紫色 */
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 手机前缀样式 */
.country-code {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.country-code select {
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.country-code input {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    font-size: 16px;
}



/* 更加流畅的出生年月日选择框样式 */
.dob-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: all 0.3s ease;
    font-size: 16px;
    width: calc(100% - 22px);
}
.dob-input:focus {
    border-color: #00aaff;
    box-shadow: 0 0 8px rgba(0, 170, 255, 0.5);
    outline: none;
}
/* 为移动设备优化表单样式 */
@media (max-width: 600px) {
    .dob-input {
        width: calc(100% - 20px);
        font-size: 14px;
        padding: 8px;
    }
    input[type="submit"] {
        font-size: 14px;
        padding: 10px;
    }
}
/* 表单消息提示 */
.center-message {
    text-align: center;
    margin: 20px 0;
}
/* 在 .styles/login.css 中添加以下样式 */
.message.error {
    color: red; /* 设置文本颜色为红色 */
    text-align: center; /* 文本居中 */
    margin: 10px 0; /* 添加上下间距 */
    font-weight: bold; /* 加粗文本 */
}
/* 在 .styles/login.css 中添加以下样式 */
.message.success {
    color: green; /* 设置文本颜色为红色 */
    text-align: center; /* 文本居中 */
    margin: 10px 0; /* 添加上下间距 */
    font-weight: bold; /* 加粗文本 */
}